

.footer__menu{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__menu-item{
    cursor: pointer;
    padding: 0 12px;
    display: block;
    /* height: 35px; */
    font-size: 16px;
}   

.footer__menu-item:hover{
    color: #dcdcdc;
    transition: linear 0.2s;
}   


.footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-item:hover{
    color: #4f4d4d;

}

.footer__social-icon{
    cursor: pointer;
    padding: 0 12px;
    display: block;
    /* height: 35px; */
    font-size: 16px;
}

.coppy__right{
    /* width: 100%;
    position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.coppy__right-text{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}

.coppy__right-icon{

}

.coppy__right-author{
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    color: #4f4d4d;
    font-weight: normal;
}


/* mobile and tablet */
@media (max-width: 739px) {
    .footer__menu-item{
        cursor: pointer;
        padding: 0 10px;
        display: block;
        font-size: 14px;
    }   
}


/* small mobile */
@media (max-width: 499px) {
  
}
   

/* mobile */
@media (min-width: 500px) and (max-width: 739px) {
 
    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* PC */
@media (min-width: 1024px) and (max-width: 1239px){

}