
.post__img{

}

.post3__img-img{
    width: 100%;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}

.post3__content-title{
    height: 75px;
}

.post3__content-title-h3{
    margin: 0;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.post3__content-text{
    height: 70px;
}

.post3__content-text-p{
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.loadmore{
    margin:30px auto;
    display: flex;
    justify-content: center;
}

.loadmore__button{
    outline: none;
    cursor: pointer;
    padding: 0 35px;
    height: 45px;
    border: 1px solid;
    border-color: #dcdcdc;
    font-size: 14px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    /* font-weight: bold; */
}

.loadmore__button:hover{
  background-color: white;
  transition: linear 0.3s;
}

/* mobile and tablet */
@media (max-width: 739px) {
    .list__post{
        margin-bottom: 30x;
    }
    .post3__content-text{
        height: 70px;
    }
}


/* small mobile */
@media (max-width: 499px) {
    .post3__img-img{
        height: 200px;
    }
}
   

/* mobile */
@media (min-width: 500px) and (max-width: 739px) {
 
    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .post3__img-img{
        height: 190px;
    }
    .post3__content-title{
        /* height: 60px; */
    }
    .post3__content-title-h3{
        /* font-size: 20px !important; */
    }
}

/* PC */
@media (min-width: 1024px) and (max-width: 1239px){
    .post3__img-img{
        height: 195px;
    }
}