
.post4__img-img {
    width: 100%;
     border-radius: 10px;
    object-fit: cover;
    height: 160px;

}

.silde__post-line{
    width: 99%;
    height: 1px;
    background-color: black;
    margin: 30px auto;
    position: relative;
}

.silde__post-title-h3{
    text-align: center;
    position: absolute;
    font-weight: bold;
    /* font-style: italic; */
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    background-color: white;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 0 40px;
    transform: translate(-50%,-50%);
}

/* mobile and tablet */
@media (max-width: 739px) {
    .post4__img-img {
        width: 100%;
        height: 240px;
        border-radius: 10px;
        object-fit: cover;    
    }
    .silde__post-title-h3{
        padding: 0 30px;

    }
}


/* small mobile */
@media (max-width: 499px) {
    .post4__img-img {
        width: 100%;
        height: 185px;
        border-radius: 10px;
        object-fit: cover;    
    }
}
   

/* mobile */
@media (min-width: 500px) and (max-width: 739px) {
 
    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* PC */
@media (min-width: 1024px) and (max-width: 1239px){

}